BasedOnStyle: LLVM
AlignConsecutiveAssignments: true
# AlignConsecutiveBitFields: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 140
Cpp11BracedListStyle: true
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: None
PackConstructorInitializers: NextLine
PointerAlignment: Left
ReflowComments: true
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 4
SeparateDefinitionBlocks: Always
UseTab: Never